<div class="text-box">

  <div class="colourised-text-box">
    <svg class="colourised-text" ng-attr-height="[[colourisedText.length ]]em">
      <g class="line"
        ng-repeat="line in colourisedText track by $index">
          <rect ng-repeat="colour in line track by $index"
            class="syllable [[colour.isHighlighted | highlight ]]"
            ng-attr-x="[[$index * 1.2]]em"
            ng-attr-y="[[$parent.$index * 1.2]]em"
            ng-attr-fill="[[colour.data]]"
            ng-mouseenter="highlightSyllable($parent.$index,$index,true)"
            ng-mouseleave="highlightSyllable($parent.$index,$index,false)"
            >
          </rect>
      </g>
    </svg>
  </div>

  <section class="interactive-panel">
    <div class="syllabelised-text">
      <div ng-repeat="line in syllabelisedText track by $index">
        <span ng-repeat="syllable in line track by $index" class="syllable [[syllable.isHighlighted | highlight ]]"
          ng-mouseenter="highlightSyllable($parent.$index,$index,true)"
          ng-mouseleave="highlightSyllable($parent.$index,$index,false)"
          >
          [[syllable.data]]
        </span>
      </div>
    </div>

    <div ng-if="hasAssocPoem === false">
      <form ng-submit='processRawText()'>
        <textarea name="name" placeholder="Paste your text here" ng-model="rawText"></textarea>
        <input value='Parse the text' type="submit">
      </form>
    </div>
  </section>
</div>

<figcaption>[[poemTitle]]</figcaption>
